# Client Files.
zlib.dll
DX8VB.DLL
Fotos/*
Codigo/*.log
*.vbw
*.oca
*.csi
*.lvw
*.OBJ
INIT/Config.ini
INIT/InfoVersion.ini
Recursos/*
Init/BindKeys.bin
WinterAOResurrection.exe
AdminLibSetup.exe

# System Files.
.DS_Store
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
*.stackdump
